{% extends 'CORE/base.html' %}

 
{% block TITULO %} 
    Clientes
{% endblock TITULO %}

{% block CONTENIDO %}

    {% for cliente in clientes %}

    <h1>{{ cliente.nombre }} {{ cliente.apellido }}</h1>
    <p>Nació el {{ cliente.nacimiento }} en {{ cliente.pais_origen_id }}.</p>
    <p>Paga a través de {{ <cliente class="Mediodepago"></cliente> }} nro {{ cliente.nrotarjeta }}.</p>

    {% endfor %}

    <a href="{% url 'Home:home' %}">Ir al menú principal</a>

{{ saludo }}
{% endblock CONTENIDO %}
